h1, h2, a, span {
    color: black;
}

#score-list {
    font-size: 1.2rem;
    color: teal;    
}
ol {
    list-style: none;
    counter-reset: li;
}

li {
    counter-increment: li;
}

li::before {
    content: "." counter(li);
    color: teal;
    display: inline-block;
    width: 1rem;
    margin-left: -1.5rem;
    margin-right: 0.5rem;
    text-align: right;
    direction: rtl;
}

hr {
    height: 2px;
    background-color: teal;
}

#scoresTitle {
    padding-left: 1rem;
}
